h1, p {
    text-align: center;
}

ol:hover, ul:hover {
    background-color: brown;
}

li:active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol, ul {
    list-style: none;
}